# IDEs
.idea/
.vscode/
*.iml
*.log
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
npm-debug.log
yarn-error.log
package-lock.json

# Java/Maven
target/
*.class
*.jar
*.war
.mvn/
mvnw
mvnw.cmd

# Local config & Secrets
*.local
.env
.env.*
!.env.example
application-dev.yml
application-dev.properties

# Runtime files
files/
logs/
temp/
